* {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: indigo;
    color: antiquewhite; 
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.logo img{
    width: 40px;
    margin-left: 50px;
}

.logo h2{
    color: rgb(247, 249, 250); 
     
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    color: rgba(233, 190, 135, 0.863);
    text-decoration: none;
}

a:hover{
    color: rgba(250, 250, 249, 0.863);
    text-decoration: underline;
}

.intro-section{
    background-image:  
    linear-gradient(rgba(10, 10, 10, 0.5),
    rgba(14, 0, 0, 0.5)),
    url("/src/assets/laptop shop bk.jpg");  
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2{
    color: rgba(236, 116, 4, 0.986);
    font-size: 40px;
    margin: 10px;
    align-items: center;
}

section p{
    color: rgba(240, 235, 233, 0.986);
    text-align: center;
    max-width: 550px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

section button {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    color: bisque;
    background-color: coral;
    margin: 10px;

}